html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

/* Timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.contain {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}



/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}


/* The actual content */
.timeline .content {
  border-style: solid; border-width: 1px;
}
.content {
  border-radius: 5px;
  padding: 20px 30px;
  background-color: white;
  background-size: cover; 
    background-repeat: no-repeat;
  position: relative;
}

.content p {
  font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    opacity:0;
    transition: 0.5s;
}

.content h2 {
  color: rgb(0, 0, 0);
  
}
.content p:hover {
    opacity:1;
}

.content h3 {
  color: rgb(0, 0, 0);
  font-weight: normal;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .contain {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .contain::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}



/* Hero section */
.hero {
  transform: translateY(-15%);
  width: 100%;
  height: 100vh;
  background: url(4853433.jpg) top center no-repeat;
  background-size: cover;
}

.hero h1 {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  color: #000000;
}

.hero h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #313131;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-register {
  text-decoration: none;
  margin-top: 30px;
  padding: 15px 40px;
  border-radius: 2px;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  background: #881aee;
  box-shadow: 0px 5px 30px rgba(48, 48, 48, 0.4);
}

.hero .btn-register span {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.hero .btn-register i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-register:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}


/* About  */
.about .content {
  background-color: inherit;
  padding: 40px;
}

.about h3 {
  font-size: 30px;
  font-weight: 700;
  color: #7d1aee;
}


.about p {
  color: #000000;
  margin: 15px 0 30px 0;
  line-height: 24px;
  transition: 0s;
  opacity: 1;
  font-weight: normal;
  font-size: 20px;
}

